.bg-top{
    background:         
      linear-gradient(127deg, rgba(255, 3, 179, 0.219), rgba(204, 7, 171, 0.37) 70.71%),
      linear-gradient(0deg, rgba(0, 79, 98, 0.623), rgba(0, 75, 146, 0.26) 100%),
      url('/assets/home-top.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}