<div class="container">
    <mat-card>
        <mat-card-content>
            <h1 class="text-center">
                reset your password
            </h1>
            <hr>
            <form [formGroup]="resetform" (submit)="(resetform.value)">

                <label class="mt-4">Username</label>
                <input class="form-control" formControlName="username" required>
                

                <label class="mt-4">Password</label>
                <input class="form-control mb-5" formControlName="password" type="password" required>
                
                <button class="btn btn-danger btn-block mt-5">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>